@use 'variables' as v;
@use 'mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;400;500&display=swap');

html {
    font-size: 62.5%;
    @include m.box-sizing(border-box);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Encode Sans SC', sans-serif;
    width: 100%;
    font-size: 1.8rem;
    margin: 0 auto;
    background: v.$main_color;
    height: auto;
}

a {
    text-decoration: none;
    color: v.$black;
}

img {
    max-width: 100%;
    // display: block;
    object-position: center;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.2rem;
}