@use 'variables' as v;
@use 'mixins' as m;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@200;400;500&display=swap');

html {
    font-size: 62.5%;
    @include m.box-sizing(border-box);
}

body {
    font-family: 'Encode Sans SC', sans-serif;
    width: 100%;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: v.$black;
}

img {
    max-width: 100%;
    display: block;
    object-position: center;
}