@use 'variables' as v;
@use 'mixins' as m;




html {
    font-size: 62.5%;
    @include m.box-sizing(border-box);
}

body {
    font-family: v.$main_font;
    // font-size: 1.8rem;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
}