
// Fuentes
$main_font: 'EncodeExtra';
$link_font: 'EncodeRegular';
$card_font: 'EncodeMedium';

// Colores
$main_color: #ECECEC;
$header_color: #E0E1E6;
$secondary_color: #7C7C7C; ;
$white: #FFFFFF;
$black: #000000;