@use '../base/variables' as v;
@use '../base/mixins' as m;

.contacto__text--izquierda{
    position: absolute;
    width: 100px;
    left: 10px;
    top: 100px;
    margin-left: 20px;
}

.contacto__text--derecha{
    position: absolute;
    width: 100px;
    right: 10px;
    top: 100px;
    margin-right: 20px;
}