@use '../base/variables' as v;
@use '../base/mixins' as m;

.container--contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row{
    display: flex;
    flex-direction: row;
}