@use '../base/variables' as v;
@use '../base/mixins' as m;

.form-control{
  width: 100%;

}

.btn-transparent{
  background-color: transparent;
  border: none;
}


/* Estilos para dispositivos con una resolución de pantalla de 768 píxeles o menos */
@include m.mobile {

}

/* Estilos para dispositivos con una resolución de pantalla de 992 píxeles o menos */
@include m.tablet {

}

/* Estilos para dispositivos con una resolución de pantalla de 1200 píxeles o menos */
@include m.desktop {
}
