@use '../base/variables' as v;
@use '../base/mixins' as m;

.header__navegacion {
    text-align: center;

    &--enlaces {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: v.$mainFont_Extra;
        margin-top: 0.5rem;
    }

    .enlaces {
        padding: 1rem 2rem;
    }

    &--enlaces .inicio:link {
        font-weight: v.$linkFont_Regular;
    }

    &--enlaces .enlaces:hover {
        background-color: v.$third_color;
        transition-duration: 0.5s;
    }
}