@use '../base/variables' as v;
@use '../base/mixins' as m;

.header__navegacion {
    text-align: center;

    &--enlaces {
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-weight: v.$mainFont_Extra;
        color: black;
    }

    &--enlaces .inicio:link {
        font-weight: v.$linkFont_Regular;
    }
}