@use '../custom' as c;
@use '../base/variables' as v;
@use '../base/mixins' as m;

/* Header Principal */
.header__principal {
    display: flex;
    flex-direction: column;   
    border-bottom: 3px solid;

    .header__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .logo {
            background-size: cover;
            width: 20%;
            height: auto;
        }

        @include m.tablet {
            .logo {
                width: 12%;
            }
        }

        @include m.desktop {
            .logo {
                width: 8%;
            }
        }
    }

    &--navegacion {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

    
        .navegacion {
            margin: 0.3rem;
        }
    
        .bi {
            color: c.$secondary;
            font-size: 2.4rem;
        }
        
        .bi-search {
            font-size: 1.8rem;
        }

        .bi-cart {
            font-size: 2.2rem;
            margin-right: 1rem;
        }
    
        @include m.tablet {
            .bi {
                font-size: 2.6rem;
            }

            .bi-search {
                font-size: 2rem;
            }

            .bi-cart{
                font-size:2.4rem;
                margin-right: 2rem;
            }
        }
    
        @include m.desktop {

            .bi {
                font-size: 3rem;
            }

            .bi-search {
                font-size: 2.2rem;
            }

            .bi-cart{
                font-size:2.8rem;
            }
        }
    
        .navegacion .active:link {
            color: v.$black;
        }

        .navegacion .bi:hover {
            background-color: c.$dark;
            transition-duration: 0.5s;
        }
    }

}

