@use '../base/variables' as v;
@use '../base/mixins' as m;

/* Header Principal */
.header__principal {
    display: flex;
    flex-direction: column;
    background-color: v.$header_color;
    border-bottom: 3px solid v.$secondary_color;

    .header__logo {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .logo {
            background-size: cover;
            width: 20%;
            height: auto;
        }

        @include m.tablet {
            .logo {
                width: 12%;
            }
        }

        @include m.desktop {
            .logo {
                width: 8%;
            }
        }
    }

    &--navegacion {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    
        .navegacion {
            margin: 0.5rem;
        }
    
        .bi {
            width: 100%;
        }
    
        @include m.tablet {
            .icono {
                width: 2.8rem;
            }
        }
    
        @include m.desktop {
            .icono {
                width: 3rem;
            }
        }
    
        .carrito {
            margin-right: 3rem;
        }
    }

}

